<form method="post" action="{{ path('reserva_delete', {'idreserva': reserva.idreserva}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ reserva.idreserva) }}">
    <button class="btn">Delete</button>
</form>
