{#{% extends 'admin.html.twig' %}#}
{#{% block body %}#}
    <form id="delete-form" method="post" action="{{ path('usuario_delete', {'idusuario': usuario.idusuario}) }}">
        <input type="hidden" name="_method" value="DELETE">
        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ usuario.idusuario) }}">
        <button id="delete-button" class="btn btn-danger">Excluir</button>
    </form>
{#{% endblock %}#}