{% extends 'admin.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}

    <div class="page-header">
        <div class="row">
            <div class="col-sm-6">
                <h1 style="margin: 0;vertical-align: middle;line-height: 30px">Dashboard</h1>
            </div>
        </div>
    </div>
    <hr>

{% endblock %}