{% extends 'base.html.twig' %}

{% block title %}New ItemComanda{% endblock %}

{% block body %}
    <h1>Create new ItemComanda</h1>

    {{ include('item_comanda/_form.html.twig') }}

    <a href="{{ path('item_comanda_index') }}">back to list</a>
{% endblock %}
